*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    line-height: 2.5;
    background-color:rgb(245, 252, 250) ;
    /* position: fixed; */
}
header{
    height: 70px;
    width:1450px;
    display: flex;
    justify-content: space-around;
    /* border: solid; */
    position: fixed;
    background-color: whitesmoke;
}
header div{
    display: flex;
    /* border: solid; */
    width: 400px;
    justify-content: space-around;
    align-items: center;

}
.Space{
    /* border: solid; */
    /* border: none; */
    text-decoration: none;
    border-color: whitesmoke;
    
    
}
.bx-globe{
    font-size: 40px;
    color: rgb(102, 190, 67);
}
.bonsai h1{
    color: rgb(102, 190, 67);
    /* display: flex;
    justify-content: end;
     */
    width: 800px;
}

._but1{
    width: 100px;
    height: 40px;
    color: rgb(102, 190, 67);
    background-color: white;
   
}
._but2{
    width: 150px;
    height: 40px;
    background-color: green;
    color: white;

}
._plans{
    /* border: solid; */
    height: 250px;
    width: 1400px;  
    display: flex;
    justify-content: space-around;
    /* justify-content: center; */
    margin: auto;
    align-items: center;
    background-color:rgb(245, 252, 250) ;
}
.debut{
    display: flex;
    justify-content: space-between;
    /* content: center;align- */
    /* align-items: center;
    flex-wrap: wrap; */
   justify-content: center; 
    border: solid;
    width: 300px;
    height: 150px;


}
.grand{
    /* border: solid; */
    height: 800px;  
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    justify-content: space-around;
    /* position:absolute; */
}

._page1{
    border: solid;
    height: 700px;
    width: 450px;
    display: flex;
    justify-content: center;
    /* margin: auto;*/
    border-style: groove;
    box-shadow: 0 2px 8px 2px rgb(161, 158, 158) ;
    border-radius: 20px;

} 
._page2{
    border: solid;
    height: 700px;
    width: 450px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    border-style: groove;
    box-shadow: 0 2px 8px 2px rgb(161, 158, 158) ;
    border-radius: 20px;
}
.entete1{
    display: flex;
    text-decoration: underline;
    text-decoration-color:rgb(102, 190, 67);
}
.entete2{
    display: flex;
    text-decoration: underline;
    text-decoration-color:rgb(102, 190, 67);
   
}
.start1{
    height: 80px;
    width: 350px;
    background-color: green;
    color: white;
    
}
.start2{
    height: 80px;
    width: 350px;
    background-color: green;
    color: white;
    
}
.bodyend{
    /* border: solid; */
    width: 550px;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 30px;
}
main{
    height: 600px;
    row-gap: 50px;
    /* border: solid; */
    margin: auto;
    padding: 20px;
}
._main{
    /* border: solid; */
    height: 500px;
    margin: auto;
    padding: 20px;
   display: flex;
   justify-content: space-around;
   flex-direction: column;
}


._main2{
    border: solid;
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content:space-around;
    margin: auto;
    padding: 20px;
    border-style: groove;
    border-radius: 20px;
}
._main1{
    border: solid;
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content:space-around;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    border-style: groove;
    box-shadow:rgb(165, 71, 71) ;
    transition: 0.5s;
}
._main1 :hover{
    border: solid;
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content:space-around;
    margin: auto;
    padding: 20px;
    border-style: groove;
    border-color: blue;
    box-shadow:rgb(165, 71, 71) ;
    transition: 0.2s;
}
._main3{
    border: solid;
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content:space-around;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    border-style: groove;
    
}
._main3 :hover{
    border: solid;
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content:space-around;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    border-style: groove;
    border-color: rgb(102, 190, 67);
    box-shadow:2px 2px 2px 2px rgb(165, 71, 71)  ;
    transition: 0.5s;
}
._sect{
    /* border: solid; */
    width: 1100px;
    height: 170px;
    /* margin: 200px;   */  
    margin: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(245, 252, 250);
}
.start_sect{
    height: 40px;
    width: 150px; 
    color: white;
    background-color: green;  
}
footer{
    /* border: solid; */
    height: 1500px;
    width: 1100px;
    margin: auto;
}
.foot_ent{
    /* border: solid; */
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center; 
    color:  rgb(102, 190, 67);   
}
.foot_bod{
    /* border: solid; */
        width: 600px;
        margin: auto;   
}
article{
    display: flex;
    justify-content: space-around;
    width: 1100px;

}
.foot_end1{
    /* border: solid; */
    width: 150px;
}
.foot_end2{
    /* border: solid; */
    width: 250px;
}
.foot_end3{
    /* border: solid; */
    width: 150px;
}


._inv{
    color: white;
}
.more{
    color:rgb(102, 190, 67) ;
}
._deco1{
    text-decoration: none;
    border: none;
    font-size: 20px;
    background-color: whitesmoke;
}
._month{
    font-size: 70px;
}
.small{
    font-size: small;
}
.prince{
    color: rgb(102, 190, 67); 
}
.bx-check{
    color:rgb(102, 190, 67) ;
    font-size: 25px;
}
.align{
    display: flex;
}
span{
    color: rgb(102, 190, 67);  
}